body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #0f172a;
  color: #e5e7eb;
}

header {
  background: #020617;
  padding: 40px;
  text-align: center;
}

section {
  padding: 30px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}
